.partners {
  background-color: $white-smoke;
  padding: 110px 10vw;
  text-align: center;
  &-title {
    font-family: 'Playfair';
    font-size: 60px;
    margin-bottom: 64px;
  }
}
.slick-slider::v-deep {
  position: relative;
  .slick-prev::before,
  .slick-next::before {
    content: '';
    visibility: hidden;
  }
  .slick-arrow img {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }
  .slick-list {
    width: calc(100% - 32px);
    margin: auto;
  }
  .slick-slide {
    img {
      width: 100%;
    }
  }
}
@media screen and (max-width: 820px) {
  .partners {
    padding: 40px 0;
    &-title {
      font-size: 40px;
      margin-bottom: 40px;
    }
  }
  .slick-slider::v-deep {
    .slick-prev {
      left: 12px;
      top: 16px;
    }
    .slick-next {
      right: 24px;
      top: 16px;
    }
    .slick-arrow {
      z-index: 2;
    }
    .slick-list {
      width: 100%;
    }
  }
}
