.about {
  margin-top: 10vh;
  overflow: hidden;
  &-left {
    h2 {
      font-family: 'Playfair';
      font-weight: 900;
      font-size: 60px;
      line-height: 100%;
      margin-bottom: 40px;
    }
    p {
      font-size: 14px;
      color: $gray-boulder;
      margin-bottom: 80px;
    }
    h3 {
      color: $blue-color;
      margin-bottom: 4px;
      font-size: 40px;
      font-weight: bold;
    }
    h4 {
      margin-bottom: 40px;
      font-size: 24px;
      font-weight: bold;
    }
  }
  &-right {
    background-color: $gray-soft;
    padding: 0 75px;
    display: flex;
    align-items: center;
    ul {
      li {
        display: flex;
        & + li {
          margin-top: 40px;
        }
        img {
          margin-right: 24px;
        }
        span {
          display: block;
        }
        .service {
          &-title {
            font-size: 24px;
            margin-bottom: 8px;
            font-weight: bold;
          }
          &-des {
            font-size: 14px;
            color: $gray-boulder;
          }
        }
      }
    }
  }
  &-image {
    &-col {
      height: 90vh;
      margin-top: 64px;
      position: relative;
    }
    &-global {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
    &-angle {
      height: fit-content;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      animation: bobbing 3s infinite ease;
      -webkit-animation: bobbing 3s infinite ease;
    }
  }
}
@keyframes bobbing {
  0% {
    top: 0;
  }
  50% {
    top: 16px;
  }
  100% {
    top: 0;
  }
}

@media screen and (max-width: 820px) {
  .about {
    &-left {
      h2 {
        font-size: 40px;
        margin-bottom: 16px;
      }
      p {
        font-size: 14px;
        margin-bottom: 40px;
      }
    }
    &-statistic {
      display: flex;
      &-type {
        margin-right: 54px;
      }
    }
    &-right {
      padding: 40px 16px;
    }
    &-image {
      height: 72vh;
      &-col {
        padding: 0;
      }
      &-global {
        img {
          width: 100%;
        }
      }
      &-angle {
        width: 84vw;
      }
    }
  }
}
