.home {
  &-arrow {
    position: fixed;
    right: 2vw;
    cursor: pointer;
    transition: .6s;
    animation: zoom 2s infinite ease-in-out;

    &-reverse {
      transform: rotate(180deg);
    }
  }
}

@keyframes zoom {
  0% {
    bottom: 7vh;
  }

  50% {
    bottom: calc(7vh + 6px);
  }

  100% {
    bottom: 7vh;
  }
}

@media screen and (max-width: 767px) {
  .home {
    &-arrow {
      right: 22px;
    }
  }
}
