.footer {
  background-image: url('@/assets/images/background-footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: $white-color;

  &-col {
    padding: 10vh 0;
  }

  &-logo {
    margin-bottom: 44px;

    img {
      width: 168px;
    }
  }

  &-social {
    a {
      cursor: pointer;
      & + a {
        margin-left: 32px;
      }
    }
  }

  &-copyright {
    text-align: center;
    background-color: $black-color;
    font-size: 18px;
    padding: 28px 0;
    color: $white-color;
  }

  &-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  &-address {
    margin-bottom: 48px;

    span {
      margin-right: 12px;
    }
  }

  &-text {
    font-size: 14px;
    line-height: calc(20 / 14);
  }

  &-phone {
    @include flex-center;
  }

  &-email {
    display: flex;
    width: 100%;
    height: 40px;
    background: transparent;
    border-radius: 8px;
    padding: 0 14px;
    margin: auto;
    border: 1px solid $white-color;

    input {
      width: calc(100% - 20px);
      height: 100%;
      border: unset;
      font-size: 14px;
      background: transparent;
      color: $white-color;

      &:focus {
        outline: unset;
      }

      &::placeholder {
        color: $white-color;
      }
    }

    img {
      width: 20px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 820px) {
  .footer {
    &-col {
      padding: 38px 0;
    }
    &-logo,
    &-social {
      text-align: center;
    }
    &-address {
      margin-bottom: 24px;
    }
    &-subscribe {
      margin-bottom: 24px;
    }
  }
}
