.header {
  background-color: transparent !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 80px;

  &-logo {
    width: 109px;
  }

  &-nav {
    font-size: 14px;
    font-weight: bold;

    li {
      @include flex-center;

      & + li {
        margin-left: 84px;
      }

      a.nav-link {
        color: $white-color;
      }
    }
  }
  &-lang {
    > a {
      display: flex;
    }
    &__dropdown {
      ul {
        padding: 8px !important;

        li {
          margin: 0;

          a {
            display: flex;
            align-items: center;
            color: $black-color;
            font-weight: 700;
            font-size: 10px;
            &.dropdown-item {
              padding: 0;
            }

            img {
              margin-right: 8px;
            }
          }

          & + li {
            border-top: 1px solid $gray-color;
          }
        }
      }
    }
    &__tick {
      width: 30px;
      display: block;
    }
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding: 16px;
    &-logo {
      width: 68px;
    }
  }
}
