.greeting {
  background-image: url(~/assets/images/background.png);
  height: 100vh;
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;

  &-fairy {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
  }

  &-content {
    width: 758px;
    margin: auto;
    position: absolute;
    bottom: 10vh;
    left: 0;
    right: 0;

    p.greeting-sub {
      color: $white-color;
      margin-top: 98px;
      margin-bottom: 32px;
      padding: 0 140px;
    }
  }

  &-headline {
    font-size: 80px;
    font-family: 'Playfair';
    font-weight: 900;
    color: $white-color;
    margin-bottom: 22px;
  }

  &-countdown {
    width: 100%;
    height: 150px;
    background-color: $white-color;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 26px 40px;

    &__item {
      flex: 1;

      .countdown-time {
        font-size: 16px;
        font-weight: bold;
      }
    }

    .countdown-value {
      font-weight: 900;
      font-family: 'Playfair';
      color: $black-color;
      font-size: 60px;
      line-height: calc(64 / 60);
    }

    .countdown-time {
      display: block;
      margin-top: 20px;
    }

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  &-email {
    display: flex;
    width: 560px;
    height: 56px;
    background: $white-color;
    border-radius: 8px;
    padding: 0 14px;
    margin: auto;

    input {
      width: calc(100% - 20px);
      height: 100%;
      border: unset;
      font-size: 14px;

      &:focus {
        outline: unset;
      }
    }

    img {
      width: 20px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 820px) {
  .greeting {
    overflow: hidden;
    height: 150vh;
    &-headline {
      font-size: 40px;
      margin-bottom: 38px;
    }

    &-content {
      width: 100%;
      padding: 0 16px;
      bottom: unset;
      top: 120px;

      p.greeting-sub {
        font-size: 12px;
        margin-bottom: 16px;
        margin-top: 40px;
        padding: 0;
      }
    }

    &-email {
      width: 100%;
    }

    &-fairy {
      width: 100%;
      left: 13vw;
    }

    &-countdown {
      height: 118px;
      padding: 24px 26px;

      &__item {
        .countdown-time {
          font-size: 12px;
        }
      }

      .countdown-value {
        font-size: 36px;
      }

      .countdown-time {
        margin-top: 8px;
      }

      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }
  }
}

@media screen and (min-width: 821px) and (max-width: 1480px) {
  .greeting {
    &-headline {
      font-size: 60px;
      margin-bottom: 20px;
    }
    &-content {
      p.greeting-sub {
        margin-top: 60px;
        margin-bottom: 28px;
        padding: 0 100px;
      }
    }
  }
}
