.games {
  &-header {
    margin-bottom: 80px;
    text-align: center;
    h2 {
      font-family: 'Playfair';
      font-weight: 900;
      font-size: 60px;
      line-height: 100%;
      margin-bottom: 24px;
    }
    p {
      font-size: 14px;
      line-height: calc(20 / 14);
      padding: 0 28%;
    }
  }
}
