.games {
  overflow: hidden;
  &-header {
    margin-bottom: 80px;
    text-align: center;
    h2 {
      font-family: 'Playfair';
      font-weight: 900;
      font-size: 60px;
      line-height: 100%;
      margin-bottom: 24px;
    }
    > p {
      font-size: 14px;
      line-height: calc(20 / 14);
      padding: 0 28%;
    }
  }
  &-list {
    &-1 {
      padding-bottom: 40px;
    }
  }
  .game-item {
    position: relative;
    width: fit-content;
    margin: auto;
    & + .game-item {
      margin-top: 40px;
    }
    img {
      border-radius: 8px;
      max-width: 100%;
    }
  }
  &-text {
    color: $white-color;
    position: absolute;
    bottom: 40px;
    left: 0;
    text-align: start;
    padding: 0 32px;
    h4 {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 16px;
    }
    p {
      font-size: 14px;
      line-height: calc(20 / 14);
    }
  }
}
@media screen and (max-width: 820px) {
  .games {
    margin-bottom: 48px;
    &-header {
      margin-bottom: 0px;
      padding: 0 8px;
      h2 {
        font-size: 40px;
        margin-bottom: 16px;
      }
      > p {
        padding: 0;
        margin-bottom: 40px;
      }
    }
    .game-item {
      & + .game-item {
        margin-top: 20px;
      }
    }
    &-text {
      bottom: 12px;
      padding: 0 8px;
      h4 {
        font-size: 24px;
        margin-bottom: 4px;
      }
      p {
        font-size: 12px;
        line-height: calc(15 / 12);
      }
    }
    &-list {
      &-1 {
        padding-bottom: 20px;
      }
      &-2 {
        padding-bottom: 20px;
      }
      &-3 {
        padding-top: 20px;
      }
    }
  }
}
@media screen and (min-width: 821px) and (max-width: 1480px) {
  .games {
    &-text {
      bottom: 32px;
      padding: 0 28px;
      h4 {
        font-size: 32px;
        margin-bottom: 12px;
      }
    }
  }
}
